body {
    background: linear-gradient(to right, #74ebd5, #acb6e5);
    font-family: Arial, sans-serif;
}

.container {
    width: 300px;
    margin: 100px auto;
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

button {
    width: 95%;
    padding: 10px;
    background: #333;
    color: white;
    border: none;
    cursor: pointer;
}

.weather p {
    margin: 5px;
}
